<%# Copied from RapidUI | Source: rapid_ui/docs/app/view_components/demo.html.erb %>
<%= component_tag class: "demo", data: { controller: stimulus_controller_name } do %>
  <div class="demo-content<%= " #{content_class}" if content_class %>">
    <%= html %>
  </div>

  <div class="demo-code-tabs">
    <% tabs.each do |tab| %>
      <%= tab_button tab %>
    <% end %>
  </div>

  <% tabs.each do |tab| %>
    <%= tab_panel tab %>
  <% end %>
<% end %>
